.movie-card {
    background-size: cover;
    border-radius: 5px;
    cursor: pointer;
    height: 600px;
    position: relative;
    width: 100%;

    &:hover {
        &:before {
            background: -moz-linear-gradient(269deg, rgba(255,82,82,1) 0%, rgba(151,55,101,1) 42%, rgba(8,18,128,1) 100%); /* ff3.6+ */
            background: -ms-linear-gradient(269deg, rgba(255,82,82,1) 0%, rgba(151,55,101,1) 42%, rgba(8,18,128,1) 100%); /* ie10+ */
            background: -o-linear-gradient(269deg, rgba(255,82,82,1) 0%, rgba(151,55,101,1) 42%, rgba(8,18,128,1) 100%); /* opera 11.10+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,82,82,1)), color-stop(42%, rgba(151,55,101,1)), color-stop(100%, rgba(8,18,128,1))); /* safari4+,chrome */
            background: -webkit-linear-gradient(269deg, rgba(255,82,82,1) 0%, rgba(151,55,101,1) 42%, rgba(8,18,128,1) 100%); /* safari5.1+,chrome10+ */
            background: linear-gradient(181deg, rgba(255,82,82,1) 0%, rgba(151,55,101,1) 42%, rgba(8,18,128,1) 100%); /* w3c */
            content: '';
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF5252', endColorstr='#081280',GradientType=0 ); /* ie6-9 */
            height: 100%;
            left: 0;
            opacity: 0.5;
            position: absolute;
            top: 0;
            width: 100%;
        }
        .play-video {
            display: block;
            font-size: 80px;
            padding-bottom: 54px;
        }
        
    }

    .play-video {
        display: none;
    }
}

.movie-details {
    bottom: 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    position: absolute;
    text-align: center;
    transition: 0.5s;
    width: 100%;
    z-index: 2;

    .movie-title {
        &:hover {
            color: yellow;
        }
    }
  }

  .route-details {
      color: white;
      text-decoration: none;
  }

.movie-rate {
font-size: 25px;
font-weight: 700;

&:before {
    color: yellow; 
    content: "\f005";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;    
    padding-right: 3px;
    vertical-align: middle;
}
}

.vote-bold {
    font-size: 30px;
    font-weight: 900;
}

.movie-date {
    background-color: rgba(0, 0, 0, 0.082);
    font-size: 25px;
    font-weight: 700;
}

 @media screen and (max-width: 768px) {
    .movie-card { 
     height: 350px;   
    }
    .movie-card:hover {
        .play-video {
            display: block;
            font-size: 60px;
            padding-bottom: 20px;
        }
    }
    .video-container {
        iframe {
            width: 500px;
            height: 350px;
        }
    }
}

@media screen and (max-width: 465px) {
    .container {
        width: 400px;
    }

    .video-container {
        iframe {
            width: 300px;
            height: 300px;
        }
    }
}