<div class="movie-card" 
    [ngStyle]="{'background-image': 'url(' + imagePath + movieData.poster_path + ')'}"
    ng-mouseenter="playVideo('show')"
    ng-mouseleave="playVideo('hide')"> 
    <div class="card-filter"

    ></div>
    <div class="movie-details">
        <div class="play-video" 

        >
            <span><i class="far fa-play-circle"></i></span>
        </div>
        <h1 class="movie-title">{{ movieData.title }}</h1>
        <p class="movie-rate"><span class="vote-bold">{{movieData.vote_average}}</span>/10</p>
        <p class="movie-date">{{movieData.release_date}}</p>
    </div>
</div>
