<div *ngIf="movieData.poster_path"
    class="movie-card" 
    [ngStyle]=
    "{'background-image': 'url(' + imagePath + movieData.poster_path + ')'}"
    > 
    <div class="blur"></div>
    <div class="movie-details">
        <div class="play-video" (click)="playMovie(movieData.id)">
            <span><i class="far fa-play-circle"></i></span>
        </div>
        <a class="route-details" routerLink="/movie/{{movieData.id}}">
            <h1 class="movie-title">{{ movieData.title }}</h1>
            <p class="movie-rate"><span class="vote-bold">{{movieData.vote_average}}</span>/10</p>
            <p class="movie-date">{{movieData.release_date}}</p>
        </a>
    </div>
</div>

<app-youtube-frame *ngIf="isPlay"
[youtubeLink]="youtubeLink"
[isPlay]="isPlay"
(Close)="closeVideo()"
>
</app-youtube-frame>
