.nav-bar {
    align-items: center;
    background-color: #071424;
    box-shadow: 0 5px 5px -4px rgba(167, 165, 165, 0.16);
    color: white;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 0 40px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
    .logo {
        background-color: #8f87e8;
        border-radius: 100px;
        height: 50px;
        width: 50px;
    };
    .router-list {
        display: flex;
        .item-route {
            color:white;
            cursor: pointer;
            font-size: 25px;
            padding : 0 0 0 15px;
            text-decoration: none;
        }
    };
}

.icon {
    color: white;
    font-size: 30px;
    height: 50px;
    line-height: 1.6;
    text-align: center;
    width: 50px;
}
