.moive-page-details {
    background-color: #1a1931;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    
    &::after {
        width: 100%;
        height: 100%;
        background-color: rgba(20, 18, 18, 0.486);
    }
}

.container {
    width:  1115px;
    padding-top: 100px;
    }

.video-player-section {
    display: flex;
}
.video-player {
    width: 75%;
    
    iframe {
        border-radius: 2px;
    }
}

.video-related {
    background: white;
    display: flex;
    flex-flow: column;
    height: 520px;
    overflow: auto;
}

.movie-details-section {
    padding-top: 95px;
    display: flex;
}

.movie-basic-info {
    display: flex;
}

.movie-section {
    width: 327px;
    height: 655px;
    display: flex;
    position: sticky;
    top: 120px;
    flex-flow: column;
}

.movie-poster {
    background-size: cover;
    border-radius: 10px 10px 0 0;
    height: 509px;
    width: 327px;
}

.btn-actions {
    padding: 18px;
    border : #0C1C2C 2px solid;
}

.watch-trailer , .buy-ticket {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    
    &:hover {
        transform: rotateX(180deg);
        transition: transform 0.7s;
        .title {
            display: none;
        }
    }
}

.buy-ticket pre , .watch-trailer pre {
    padding: 17px 37px;
    border-radius: 9px;

}

.watch-trailer pre {
    background-color: #DE4140;
    color: white;
}

.buy-ticket pre{
    background-color: #D9ED39;
    color:#000;
}

.movie-about {
    padding: 52px 0 58px 32px;
    display: flex;
    flex-flow: column;
}

.rating {
    color: white;
}

.movie-title {
    color:#F24744;
}

.small-details {
    color:white;
}

.movie-description {
    margin-left: 50px;
    width: 75%;
}

.primary-title {
    display: flex;
    color: white;
    span {
        color:rgba(214, 214, 214, 0.568);
        font-size: 25px;
        font-weight: 400;
    }
}

.fav-share {
    color: #DE4140;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    margin-bottom: 37px;
    width: 70%;
}

.fa-heart , .fa-share-alt {
    border-radius: 100px;
    border: 1px #DE4140 solid;
    font-size: 12px;
    margin-right: 5px;
    padding: 13px;
}

.movie-rating {
    border: solid #827b75 1px;
    border-left: none;
    border-right: none;
    display: flex;
    margin-bottom: 100px;
}

.number-rate {
    display: flex;
    padding-right: 30px;
    border-right: 1px solid #827b75;
    .fa-star {
        color:orange;
        font-size: 25px;
        padding:11px;
        line-height: 1.55;
        }
    .rate-review p{
        font-size: 12px;
    }
}

.rate-item {
    color: lightgrey;
    span {
        font-size: 15px;
        font-weight: 600;
    }
}

.review-item {
    color: #3C73AD;
}

.design-rate {
    padding-left: 30px;
    display: flex;
    text-align: center;
    p {
        color: lightgrey;
        font-size: 20px;
        padding-right: 18px;
    }

    .rating {
        color:lightgrey;
        line-height: 4;
        position: relative;
    }
}

.movie-voting {
    position: absolute;
    top: 0;
    left: 0;
}

.movie-stars, .half-star {
    color: orange;
}

.movie-routing {
    display: flex;
}

.over-view , .video-photo {
    margin-right: 48px;
    color: lightgrey;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    border-bottom: solid 3px;
    display: inline-block;

    &:hover {
        color:yellow;
    }
}

.res-details {
    color: lightgrey;
    font-size: 18px;
}

.money {
    color: red;
    font-weight: 700;
}

.info-list {
    display: flex;
    justify-content: space-around;
}

.genres , .production_companies {
    font-weight: 900;
}

.test {
    color: lightgrey;
}

.custom-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
                    left bottom,
                    left top,
                    color-stop(0.44, rgb(122,153,217)),
                    color-stop(0.72, rgb(73,125,189)),
                    color-stop(0.86, rgb(28,58,148)));
}