.movie-video {
    background: #0000008f;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 307;
    left: 0;
    top: 0;
}

.video-container {
    border-radius: 20px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    iframe {
       border-radius: 20px;
    }
}

 @media screen and (max-width: 768px) {
   .video-container {
      iframe {
         width:500px;
         height: 300px;
      }
   }
}

@media screen and (max-width: 465px) {
   .video-container {
      iframe {
         width:300px;
         height: 200px;
      }
   }
}